h1 
{
    color: blue;
    font-weight: bold;
}

h1 {
  position: absolute;
  left: 100px;
  top: 150px;
}

<style>
p.ex1 {
  margin: 10px 5px 15px 20px;
}
</style>

div.a {
  text-align: justify; 
  -moz-text-align-last: justify; 
  text-align-last: justify;
}
body {
  background-color: yellow;
}

#main {
  width: 220px;
  height: 300px;
  border: 1px solid black; 
  display: -webkit-flex; 
  -webkit-align-items: center; 
  display: flex;
  align-items: center;
}

#main div {
   -webkit-flex: 1; 
   flex: 1;
}
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTZOkGJo9EhKiDLiMGxQiIzaMonJFlQmFQIyEF2PRNrCZ6qz_vJ" alt="Juntos" width="400" height="300">
