h1 
{
    color: rgb(206, 255, 255);
    font-weight: bold;
    padding: 20px 0; 
    text-shadow: 3px 3px 1px rgb(94, 92, 92);
    text-align: center;
    font-size: 60px;
}

h3
{
  color: rgb(202, 253, 255);
  padding: 20px 0; 
  text-shadow: gray;
  text-align: center;
  font-size: 35px;
  
}

button {
  background-color: rgb(122, 135, 192);
  border-radius: 12px;
  border: black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

html {
  background-color: #00539F;
}

body {
  background-color: lightblue;
    width: 900px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
 
}


div.a {
  text-align: center; 
  color: whitesmoke;
  text-shadow: rgb(76, 76, 156);
  font-size: 29px;
}

div.c {
  text-align: center;
  color: rgb(46, 179, 255);
  text-shadow: rgb(141, 132, 132);
  font-size: 20px;
}

div.d {
  text-align: center;
  color: whitesmoke;
  font-size: 18px;
}

div.e
{
  text-align: center;
  padding: 20px 0; 

}
img {
  display: block;
  margin: 0 auto;
}



